<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=League+Spartan:wght@100..900&family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

  <title>Flask Template</title>


  </head>

  <body class="login-bg">

    {% include 'navbar_public.html' %}

    <main>

      <h1 class="welcome-title">Welcome to the Booking Bot</h1>

      <p>POwered by </p>
      <p>Use this template to create and customize more public pages for your app.</p>

    </main>

    {% include 'footer.html' %}



    <script src="{{ url_for('static', filename='scripts.js') }}" type="module"></script>
  </body>

</html>